/* Add style to the banner/header of the site*/
.banner img {
  float: left;
  width: 120px;
  height: 120px;
  background: #555;
}
.banner h1 {
  margin: 10px 0px 0px 0px;
  text-align: center;
}
/* Style design for the navigation bar*/
.navigation{
    text-align: center;
    padding: 10px;
	background-color:  #655762 ;
	margin: 100px 0px 0px 0px;
}
a:hover {
  background-color: gray;
  padding: 10px;
}

/* Style design for slide show */
* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;}
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style design for links in navigation bar and other links on website*/
a{
    margin: 10px;
    color: white;
}
/*Style design for selected page on navigation bar*/
.selected {
    width: 800px;
    background-color: #330000;
    padding: 10px;
}
.ranks {
	background-color: white;
}
/* Add style to the background of the site*/
 body {
	background-image: url("qp.png");
	background-attachment: fixed;
	background-position: center; /* Center the image */
	background-repeat: no-repeat;	
	background-size: cover;
}
/* Add style to the images on the site.*/
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
  vertical-align: left;
  margin: 10px 0px 30px 50px;
}
/* Add style to all headings with h1*/
h1 	{
	color: #FFFFFF; 
	text-align: center;
	text-shadow: 2px 2px black;
	text-decoration: blink;
	margin: 0px 20px 30px 20px;
	font-family: 'Lobster', cursive;
	}
/* Add style to all headings with h2*/
h2{
	text-align: center;
	color: #FFFFFF;
	text-decoration: underline;
}
/* Add background to the text in the paragraph*/
#example{
		    background-image:url('qp.jpg');
			background-size:fixed;
			background-position: top;
			background-repeat: no-repeat;
			}
/* Add style to all paragraphs*/
p {
	text-align: center;
	word-spacing: 5px;
	color: #ffffff;
	font-size: 20px;
	font: Times New Roman;
	
}
/* Login and Registration Pages*/
/* Style section for the text boxes where the user provides the input*/	
input[type=text], input[type=password], input[type=number], input[type=date], input[type=tel] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Style section for the labels (username, email, password etc) on the login and registration page*/
label {
	width: 240px;
	display: inline-block;
	text-align: right;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
/* Style section for the buttons*/
button {
  background-color: #000000;
  color: white;
  padding: 20px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  -webkit-transition: background .4s ease;
  -moz-transition: background .4s ease;
  transition: background .4s ease;
}

button:hover{
	background-color: blue;
}
/* Style section for the container on the login and registration pages*/
.container {
	background: url(bg.gif) center center no-repeat;
	padding: 50px;
	position: relative;
	width:50%;
	margin-bottom: 10%;
	margin-top:5%;
	height:50%;
	background-size: cover;
}
/* End style section for the login and registration pages*/
/* Style section for the game*/
.grid {
width: 600px;
height: 600px;
margin: 0 auto;
background: url("questions.jpg");
padding: 10px 50px 50px 50px;
border-radius: 50px;
border: 2px solid #cbcbcb;
box-shadow: 10px 15px 5px #000000;
}

.grid h1 {
font-family: "sans-serif";
background-color: #2c0747;
font-size: 60px;
text-align: center;
color: #ffffff;
padding: 2px 0px;
border-radius: 50px;
}

::selection{
    color: #fff;
    background: #007bff;
}

.startbutton,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.startbutton button{
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    padding: 15px 30px;
    outline: none;
    border: 1px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
    
}

section .option_list .option.incorrect{
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
 
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.questioncount{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.questioncount .total_que span{
    display: flex;
    user-select: none;
}

.questioncount .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

.qeustioncount .total_que span p:first-child{
    padding-left: 0px;
}

.questioncount button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.questioncount button:hover{
    background: #0263ca;
}

.questioncount button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}
footer {
	text-align:center;
	color: white;
	background-color:  #655762 ;
	font-weight: bold;
}
#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}